.slide-top-fade-enter-active {
  transition: all .2s ease;
}
.slide-top-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-top-fade-enter, .slide-fade-leave-to {
  transform: translateY(-24px);
  opacity: 0;
}

.slide-left-fade-enter-active {
  transition: all .3s ease;
}
.slide-left-fade-leave-active {
  // transition: all .3s ease;
}
.slide-left-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-select-enter-active {
  transition: transform .2s, opacity .2s;
}
.fade-select-leave-active {
  transition: transform .150s, opacity .150s;
}
.fade-select-enter, .fade-select-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translate(0,0px) scale(0.950) !important;
  box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0);
}