@import './_colors';


$btn-border-radius: 2px;
$default-border-box-shadow: inset 0 0 0 1px $light-gray;
$dark-border-box-shadow: inset 0 0 0 1px $default-gray;
$main-border-box-shadow: inset 0 0 0 1px $main-color;
$default-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);

$input-border-radius: 2px;
$select-border-radius: 2px;