$main-dark-color: #52666f;
$main-color: #788f9a;
$main-light-color: #8ea7b3;
$main-lighter-color: #b6c4cc;
$main-lightest-color: #eaf1f5;

$dark-grey: #333;
$default-grey: #666;
$light-grey: #999;
$lighter-grey: #ccc;
$lightest-grey: #eee;

$dark-danger: #b1272e;
$default-danger: #e8333c;
$light-danger: #f3646b;
$lighter-danger: #ccc;
$lightest-danger: #eee;