@import './_colors';

$default-font-size: 14px;

$btn-border-radius: 2px;
$default-border-box-shadow: inset 0 0 0 1px $light-gray;
$dark-border-box-shadow: inset 0 0 0 1px $default-gray;
$main-border-box-shadow: inset 0 0 0 1px $main-color;
$default-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
$tip-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .15);

$notification-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.08);

$input-border-radius: 2px;
$select-border-radius: 2px;

$dialog-background: rgba(255, 255, 255, 0.88);
$dialog-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .15);
$dialog-border-radius: 2px;

$xs-max: 576px;
$sm-max: 768px;
$md-max: 992px;
$lg-max: 1200px;