.live-btn {
  height: 32px;
  padding: 0 16px;
  border: 0;
  font-size: 14px;
  box-shadow: $border-box-shadow;
  color: $dark-gray;
  cursor: pointer;
  display: inline-block;
  background: $white;
  transition: all 0.2s;
  border-radius: $btn-border-radius;
  text-align: center;
  overflow: hidden;
  &-default {
    &:hover {
      background: $lighter-gray;
    }
    &:active {
      background: $light-gray;
    }
  }
  &-primary {
    box-shadow: $default-box-shadow;
    background: $main-color;
    color: $white;
    &:hover {
      background: $dark-main-color;
    }
    &:active {
      background: $darker-main-color;
    }
  }
  &-danger {
    box-shadow: $default-box-shadow;
    background: $default-red;
    color: $white;
    &:hover {
      background: $dark-red;
    }
    &:active {
      background: $darker-red;
    }
  }
  &-large {
    height: 40px;
    &.live-btn-circle {
      width: 40px;
      font-size: 16px;
      .live-icon-circle-btn {
        font-size: 20px;
      }
    }
  }
  &-small {
    height: 24px;
    padding: 0 8px;
    &.live-btn-circle {
      width: 24px;
      font-size: 12px;
      .live-icon-circle-btn {
        font-size: 12px;
      }
    }
  }
  &-circle {
    border-radius: 50%;
    padding: 0;
    width: 32px;
  }
  &:disabled {
    background-color: $lighter-gray;
    color: $default-gray;
    cursor: auto;
  }
  &-long {
    width: 100%;
    display: block;
  }
  .icon-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-loading {
    pointer-events: none;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(200, 200, 200, 0.35);
    }
    .text {
      opacity: 0;
    }
  }
  .live-icon-circle-btn {
    font-size: 18px;
    line-height: 1.15;
  }
  .live-icon-btn {
    margin-right: 4px;
    font-size: 14px;
    vertical-align: middle;
  }
}