.live-btn-group {
  >.live-btn {
    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  .live-btn + .live-btn {
    margin-left: -1px;
  }
}