$colLen: 24;

.live-row {
  display: flex;
  flex-wrap: wrap;

  .live-col {
    flex: 0 0 auto;
  }

  @for $i from 0 through $colLen {
    .live-col-#{$i} {
      width: (1 / $colLen * $i * 100) * 1%;
    }
    .live-col-offset-#{$i} {
      margin-left: (1 / $colLen * $i * 100) * 1%;
    }
  }

}
