.live-notification-container {
  position: fixed;
  top: 24px;
  right: 24px;
  width: 320px;
  background: $white;
  border-radius: 2px;
  box-shadow: $default-border-box-shadow, $default-box-shadow;
  
  .live-notification-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    
    .live-notification-title {
      flex: 1;
      padding: 16px 16px;
    }
    .close {
      flex-shrink: 0;
      padding: 8px;
      cursor: pointer;
      height: 32px;
      transition: all 0.3s;
      &:hover {
        color: $main-color;
        transform: rotateZ(90deg);
      }
    }
  }

  .live-notification-body {
    padding: 0 16px 24px;
    font-size: 14px;
    line-height: 1.5;
  }
}