.live-select-container {
  width: 100%;
  height: 32px;
  box-shadow: $default-border-box-shadow;
  border-radius: $select-border-radius;
  padding: 1px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: $white;
  transition: all 0.2s;
  &:hover {
    box-shadow: $dark-border-box-shadow;
  }
  &.is-focus {
    box-shadow: $main-border-box-shadow;
  }

  .live-select-input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 4px 16px 4px 8px;
    cursor: pointer;
    background: transparent;
    z-index: 1;
  }

  .live-select-icon {
    position: absolute;
    right: 8px;
    &.active {
      transform: rotateZ(180deg);
    }
  }
}

.live-option-container {
  position: absolute;
  top: 100%;
  box-shadow: 0 0 1px $default-gray;
  border-radius: 2px;
  min-width: 100%;
  background: $white;
  transform: translateY(4px);
  z-index: 100;
  .live-option {
    padding: 4px 8px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover, &.is-hover {
      background: $lighter-gray;
    }
    &.is-active {
      color: $main-color;
    }
  }
}