$accentColor = #006CFF; // 主题色
$textColor = #2c3e50 // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色

table {
  display: table;
}
div[class*="language-"] {
  border-radius: 2px;
}

.content:not(.custom)
  & > h1, h2, h3, h4, h5, h6
    margin-bottom: 24px;
